### Importing all the files

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib.inline
import warnings
warnings.filterwarnings("ignore")

UsageError: Line magic function `%matplotlib.inline` not found.

In [2]:
br = pd.read_csv('bond_ratings.csv')
fa = pd.read_csv('fund_allocations.csv')
fc = pd.read_csv('fund_config.csv')
fr = pd.read_csv('fund_ratios.csv')
fs = pd.read_csv('fund_specs.csv')
os = pd.read_csv('other_specs.csv')
r3 = pd.read_csv('return_3year.csv')
r5 = pd.read_csv('return_5year.csv')
r10 = pd.read_csv('return_10year.csv')
s_s = pd.read_csv('sample_submission.csv')

In [3]:
br.head()

,bb_rating,us_govt_bond_rating,below_b_rating,others_rating,maturity_bond,b_rating,tag,a_rating,aaa_rating,aa_rating,bbb_rating,duration_bond
0,0.0,0.0,0.0,0.0,NaN,0.0,67922,0.0,0.0,0.0,0.0,NaN
1,0.0,0.0,0.0,0.0,NaN,0.0,134783,0.0,0.0,0.0,0.0,NaN
2,0.0,0.0,0.0,0.0,NaN,0.0,61271,0.0,0.0,0.0,0.0,NaN
3,0.0,0.0,0.0,0.0,NaN,0.0,64412,0.0,0.0,0.0,0.0,NaN
4,0.0,0.0,0.0,0.0,NaN,0.0,184058,0.0,0.0,0.0,0.0,NaN

In [6]:
br.columns

Index(['bb_rating', 'us_govt_bond_rating', 'below_b_rating', 'others_rating',
       'maturity_bond', 'b_rating', 'tag', 'a_rating', 'aaa_rating',
       'aa_rating', 'bbb_rating', 'duration_bond'],
      dtype='object')

In [4]:
fa.head()

,portfolio_communication_allocation,portfolio_financial_services,portfolio_industrials_allocation,portfolio_tech_allocation,portfolio_materials_basic_allocation,portfolio_energy_allocation,portfolio_consumer_defence_allocation,portfolio_healthcare_allocation,portfolio_property_allocation,id,portfolio_utils_allocation,portfolio_cyclical_consumer_allocation
0,0.00,0.00,0.00,0.00,0.00,100.00,0.00,0.00,0.00,67922,0.00,0.00
1,0.78,9.77,9.97,35.51,2.86,0.38,5.88,14.41,2.67,134783,0.39,17.38
2,4.70,16.40,11.45,25.09,8.36,0.00,9.42,16.47,1.03,61271,0.00,7.09
3,6.53,13.80,10.91,0.16,2.22,6.79,25.73,9.00,0.00,64412,19.42,5.43
4,3.49,13.95,10.51,19.26,3.75,5.11,7.29,12.22,10.41,184058,3.07,10.95

In [7]:
fa.columns

Index(['portfolio_communication_allocation', 'portfolio_financial_services',
       'portfolio_industrials_allocation', 'portfolio_tech_allocation',
       'portfolio_materials_basic_allocation', 'portfolio_energy_allocation',
       'portfolio_consumer_defence_allocation',
       'portfolio_healthcare_allocation', 'portfolio_property_allocation',
       'id', 'portfolio_utils_allocation',
       'portfolio_cyclical_consumer_allocation'],
      dtype='object')

In [8]:
fc.head()

,category,parent_company,fund_id,fund_name
0,Energy Limited Partnership,DWS,264614c6-5ac3-4146-ba26-1674b136cb40,DWS RREEF MLP & Energy Infrastructure Fund - C...
1,Large Growth,Janus Henderson,f5ad58c2-fdea-4087-8678-e04744f89f90,Janus Henderson Research Fund Class N
2,Large Growth,Calvert Research and Management,3c13f4ab-02c4-4ca7-a133-7e996ec5d0c4,Calvert Equity Fund Class A
3,Large Value,Invesco,ff78bdd8-59eb-4cef-9f3c-b1baacce9554,Invesco Diversified Dividend Fund R5 Class
4,Target-Date 2035,PGIM Funds (Prudential),63d8406d-c525-494a-8e03-d4fc4cfcb571,Prudential Day One 2035 Fund Class R3

In [9]:
fc.columns

Index(['category', 'parent_company', 'fund_id', 'fund_name'], dtype='object')

In [10]:
fr.head()

,fund_id,tag,fund_ratio_net_annual_expense,pb_ratio,ps_ratio,mmc,pc_ratio,pe_ratio
0,264614c6-5ac3-4146-ba26-1674b136cb40,67922,1.44,1.71,1.31,"19,857.41",5.91,14.51
1,f5ad58c2-fdea-4087-8678-e04744f89f90,134783,0.58,5.30,3.38,"72,347.03",15.95,18.88
2,3c13f4ab-02c4-4ca7-a133-7e996ec5d0c4,61271,0.99,5.40,3.67,"68,857.43",15.97,23.27
3,ff78bdd8-59eb-4cef-9f3c-b1baacce9554,64412,0.52,2.23,1.63,"43,266.62",8.93,12.7
4,63d8406d-c525-494a-8e03-d4fc4cfcb571,184058,0.75,2.02,1.4,"43,747.9",7.59,14.74

In [11]:
fr.columns

Index(['fund_id', 'tag', 'fund_ratio_net_annual_expense', 'pb_ratio',
       'ps_ratio', 'mmc', 'pc_ratio', 'pe_ratio'],
      dtype='object')

In [12]:
fs.head()

,investment_class,currency,total_assets,yield,greatstone_rating,inception_date,tag,fund_size,return_ytd
0,Value,USD,1.185000e+07,5.57,NaN,2015-02-02,67922,Large,20.19
1,Growth,USD,1.397000e+10,0.42,3.0,2012-05-30,134783,Large,16.79
2,Growth,USD,2.660000e+09,0.02,4.0,1987-08-23,61271,Large,17.13
3,Value,USD,1.957000e+10,2.71,3.0,2005-10-24,64412,Large,11.63
4,Blend,USD,2.847000e+07,2.44,0.0,2016-12-12,184058,Large,10.25

In [13]:
fs.columns

Index(['investment_class', 'currency', 'total_assets', 'yield',
       'greatstone_rating', 'inception_date', 'tag', 'fund_size',
       'return_ytd'],
      dtype='object')

In [14]:
os.head()

,2014_category_return,2012_return_category,years_up,2018_return_category,tag,category_return_1year,cash_percent_of_portfolio,pc_ratio,2011_return_category,ytd_return_fund,...,2018_return_fund,2017_return_fund,greatstone_rating,category_ratio_net_annual_expense,category_return_2015,1_month_fund_return,bond_percentage_of_porfolio,portfolio_preferred,2010_return_category,2013_category_return
0,NaN,NaN,1.0,-16.32,67922,13.05,1.19,5.91,NaN,20.19,...,-12.23,-3.31,NaN,1.75,-34.98,4.12,0.00,0.00,NaN,NaN
1,10.00,15.34,5.0,-2.09,134783,10.71,0.10,15.95,NaN,16.79,...,-2.62,26.39,3.0,1.06,3.60,2.33,0.00,0.00,NaN,33.92
2,10.00,15.34,26.0,-2.09,61271,10.71,2.00,15.97,-2.46,17.13,...,5.04,25.79,4.0,1.06,3.60,3.77,0.58,0.08,15.53,33.92
3,10.21,14.57,11.0,-8.53,64412,4.48,6.13,8.93,-0.75,11.63,...,-7.54,8.53,3.0,1.00,-4.05,1.46,0.00,0.00,13.66,31.21
4,NaN,NaN,1.0,-7.04,184058,3.17,6.59,7.59,NaN,10.25,...,-7.37,17.52,0.0,0.45,NaN,1.28,24.97,0.02,NaN,NaN

In [15]:
os.columns

Index(['2014_category_return', '2012_return_category', 'years_up',
       '2018_return_category', 'tag', 'category_return_1year',
       'cash_percent_of_portfolio', 'pc_ratio', '2011_return_category',
       'ytd_return_fund', 'years_down', '2014_return_fund',
       'category_return_1month', '2013_return_fund', 'fund_return_3months',
       'ytd_return_category', 'pb_ratio', '2017_category_return',
       '1_year_return_fund', 'pe_ratio', '2015_return_fund',
       'portfolio_convertable', '3_months_return_category', 'portfolio_others',
       '2016_return_fund', 'mmc', 'stock_percent_of_portfolio',
       '2016_return_category', 'ps_ratio', '2011_return_fund',
       '2010_return_fund', 'fund_return_3years', '2012_fund_return',
       '2018_return_fund', '2017_return_fund', 'greatstone_rating',
       'category_ratio_net_annual_expense', 'category_return_2015',
       '1_month_fund_return', 'bond_percentage_of_porfolio',
       'portfolio_preferred', '2010_return_category', '2013_category_return'],
      dtype='object')

In [16]:
r3.head()

,tag,3yrs_treynor_ratio_fund,3_years_alpha_fund,3years_category_std,3yrs_sharpe_ratio_fund,3yrs_treynor_ratio_category,3_years_return_mean_annual_fund,fund_beta_3years,3years_fund_r_squared,3years_fund_std,category_beta_3years,fund_return_3years,3_years_alpha_category,3_years_return_mean_annual_category,3yrs_sharpe_ratio_category,3years_category_r_squared,3_years_return_category
0,67922,2.46,-7.10,0.18,0.26,0.05,0.45,1.20,54.83,16.25,0.01,4.24,-0.04,0.01,0.00,0.42,7.36
1,134783,12.2,0.07,0.13,1.06,0.13,1.19,1.07,88.46,12.26,0.01,14.39,0.01,0.01,0.01,0.84,15.35
2,61271,17.88,4.32,0.13,1.46,0.13,1.32,0.85,84.41,9.93,0.01,16.42,0.01,0.01,0.01,0.84,15.35
3,64412,7.93,-2.73,0.11,0.68,0.09,0.58,0.70,81.02,8.36,0.01,6.85,-0.02,0.01,0.01,0.84,10.01
4,184058,NaN,NaN,0.08,NaN,0.06,NaN,NaN,NaN,NaN,0.01,0.00,-0.01,0.01,0.01,0.97,9.13

In [17]:
r3.columns

Index(['tag', '3yrs_treynor_ratio_fund', '3_years_alpha_fund',
       '3years_category_std', '3yrs_sharpe_ratio_fund',
       '3yrs_treynor_ratio_category', '3_years_return_mean_annual_fund',
       'fund_beta_3years', '3years_fund_r_squared', '3years_fund_std',
       'category_beta_3years', 'fund_return_3years', '3_years_alpha_category',
       '3_years_return_mean_annual_category', '3yrs_sharpe_ratio_category',
       '3years_category_r_squared', '3_years_return_category'],
      dtype='object')

In [18]:
r5.head()

,category_r_squared_5years,5yrs_sharpe_ratio_fund,5_years_alpha_fund,5years_fund_r_squared,5years_fund_std,5yrs_sharpe_ratio_category,5_years_beta_fund,5yrs_treynor_ratio_fund,5_years_return_mean_annual_fund,5_years_return_mean_annual_category,5yrs_treynor_ratio_category,5_years_return_fund,5_years_alpha_category,5_years_beta_category,5years_category_std,tag,5_years_return_category
0,0.51,NaN,NaN,NaN,NaN,-0.00,NaN,NaN,NaN,-0.00,-0.04,0.00,-0.11,0.01,0.20,67922,-4.25
1,0.86,0.89,0.34,90.11,12.40,0.01,1.05,10.37,0.99,0.01,0.10,11.71,-0.00,0.01,0.13,134783,11.26
2,0.86,1.15,2.96,89.02,10.28,0.01,0.86,13.84,1.05,0.01,0.10,12.78,-0.00,0.01,0.13,61271,11.26
3,0.86,0.77,-0.50,82.36,8.53,0.01,0.69,9.3,0.62,0.01,0.07,7.25,-0.03,0.01,0.11,64412,7.20
4,0.96,NaN,NaN,NaN,NaN,0.01,NaN,NaN,NaN,0.01,0.04,0.00,-0.01,0.01,0.09,184058,5.95

In [19]:
r5.columns

Index(['category_r_squared_5years', '5yrs_sharpe_ratio_fund',
       '5_years_alpha_fund', '5years_fund_r_squared', '5years_fund_std',
       '5yrs_sharpe_ratio_category', '5_years_beta_fund',
       '5yrs_treynor_ratio_fund', '5_years_return_mean_annual_fund',
       '5_years_return_mean_annual_category', '5yrs_treynor_ratio_category',
       '5_years_return_fund', '5_years_alpha_category',
       '5_years_beta_category', '5years_category_std', 'tag',
       '5_years_return_category'],
      dtype='object')

In [20]:
r10.head()

,10years_category_r_squared,10yrs_sharpe_ratio_fund,10_years_alpha_fund,10years_fund_r_squared,10years_fund_std,10yrs_sharpe_ratio_category,10_years_beta_fund,10yrs_treynor_ratio_fund,fund_id,10_years_return_mean_annual_category,10yrs_treynor_ratio_category,10_years_return_fund,10_years_alpha_category,10_years_beta_category,10years_category_std,10_years_return_mean_annual_fund,10_years_return_category
0,0.49,NaN,NaN,NaN,NaN,0.01,NaN,NaN,264614c6-5ac3-4146-ba26-1674b136cb40,0.01,0.21,0.00,0.06,0.01,0.13,NaN,14.30
1,0.88,1.16,0.16,91.68,14.30,0.01,1.08,15.57,f5ad58c2-fdea-4087-8678-e04744f89f90,0.01,0.15,17.25,-0.01,0.01,0.14,1.42,15.94
2,0.88,1.22,1.00,90.69,12.68,0.01,0.95,16.58,3c13f4ab-02c4-4ca7-a133-7e996ec5d0c4,0.01,0.15,16.21,-0.01,0.01,0.14,1.33,15.94
3,0.90,1.20,0.75,89.03,11.21,0.01,0.84,16.38,ff78bdd8-59eb-4cef-9f3c-b1baacce9554,0.01,0.14,14.12,-0.02,0.01,0.13,1.16,13.68
4,0.97,NaN,NaN,NaN,NaN,0.01,NaN,NaN,63d8406d-c525-494a-8e03-d4fc4cfcb571,0.01,0.08,0.00,-0.02,0.01,0.12,NaN,11.53

In [21]:
r10.columns

Index(['10years_category_r_squared', '10yrs_sharpe_ratio_fund',
       '10_years_alpha_fund', '10years_fund_r_squared', '10years_fund_std',
       '10yrs_sharpe_ratio_category', '10_years_beta_fund',
       '10yrs_treynor_ratio_fund', 'fund_id',
       '10_years_return_mean_annual_category', '10yrs_treynor_ratio_category',
       '10_years_return_fund', '10_years_alpha_category',
       '10_years_beta_category', '10years_category_std',
       '10_years_return_mean_annual_fund', '10_years_return_category'],
      dtype='object')

In [22]:
s_s.head()

                                fund_id  greatstone_rating
0  85a6edf9-db47-490c-981a-168ce90434bb                NaN
1  654dac08-5e5d-4cf0-870e-3167087de7d2                NaN
2  75214019-f876-42a9-a316-328b759ac4ba                NaN
3  1fe8de6d-cd33-489e-a829-211f1f622eed                NaN
4  bd87a7a0-6ca5-4607-a0cf-d396ecd6037a                NaN

In [23]:
s_s.columns

Index(['fund_id', 'greatstone_rating'], dtype='object')